body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:410px;
  top:32px;
  width:800px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:825px;
  top:70px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:1055px;
  top:70px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:180px;
  top:6px;
  width:150px;
  height:116px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:116px;
}
#u5 {
  position:absolute;
  left:2px;
  top:50px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1228px;
  top:5px;
  width:22px;
  height:174px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:174px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:180px;
  top:510px;
  width:1030px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:1026px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:180px;
  top:210px;
  width:1030px;
  height:280px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:280px;
}
#u11 {
  position:absolute;
  left:2px;
  top:124px;
  width:1026px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1079px;
  top:11px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:999px;
  top:8px;
  width:20px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1029px;
  top:11px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1177px;
  top:11px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1116px;
  top:11px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:180px;
  top:152px;
  width:1030px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:200px;
  top:164px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:253px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:320px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:390px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:453px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:418px;
  top:9px;
  width:27px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:455px;
  top:9px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
