body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1258px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:176px;
  top:660px;
  width:1024px;
  height:613px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:613px;
}
#u1 {
  position:absolute;
  left:2px;
  top:298px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:176px;
  top:10px;
  width:1024px;
  height:616px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:616px;
}
#u3 {
  position:absolute;
  left:2px;
  top:300px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1218px;
  top:34px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:360px;
  top:480px;
  width:360px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:367px;
  top:495px;
  width:309px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:33px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:848px;
  top:504px;
  width:209px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
