@charset "utf-8";
/* CSS Document */

.header{ width:100%;}
/*---------------头顶-------------*/
.main{ background:#fff url(../images/new_bg.jpg) no-repeat center top; }
.hea_top { width:1000px; height:600px;margin:0 auto;position: relative;}
.hea_top .logo{ position:absolute; left:0px; top:30px;}
.hea_top .gun_img { position:absolute; left:10px; top:260px;}
.hea_nav .a_a{ width:88px; height:97px; line-height:97px; display:block;position:absolute; left:466px; top:20px; background:url(../images/a_a.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}
.hea_nav .a_b{ width:85px; height:79px; line-height:79px; display:block;position:absolute; left:596px; top:60px; background:url(../images/a_b.png) no-repeat left top; font-size:24px; color:#008751; text-align:center;}
.hea_nav .a_c{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:710px; top:38px; background:url(../images/a_c.png) no-repeat left top; font-size:24px; color:#1682e6; text-align:center;}
.hea_nav .a_d{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:850px; top:50px; background:url(../images/a_d.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}

.hea_nav .a_a:hover{ background:url(../images/a_hover.png);}
.hea_nav .a_b:hover{ background:url(../images/b_hover.png); color:#fff;}
.hea_nav .a_c:hover{ background:url(../images/c_hover.png);color:#fff;}
.hea_nav .a_d:hover{ background:url(../images/d_hover.png);color:#fff;}

.con_login{position: absolute;left: 750px;top: 390px; }
.con_login .con_user{height:30px; line-height:30px; border:3px #7abf04 solid; margin-bottom:15px; border-radius:10px; width:200px; text-indent:10px;}
.con_login .con_user_but { padding:5px 15px; background:#096; color:#fff; margin:10px 10px 0 0; border-radius:6px;}
.con_login .con_user_but:hover{ background:#09f;}
/*--------------中间-------------*/
.content { width:1000px; margin:0 auto;}
.con_column { width:1000px; height:60px; margin:20px 0;}
.con_column h2{ float:left;font-size:30px; color:#09F; line-height:60px;}
.con_column ul{ float:right;}
.con_column ul li { float:left;}

.con_column ul li a{ float:right; display:block;width:100px; height:60px; background:url(../images/list_bg.png) left top; text-align:center; line-height:60px; font-size:20px; text-indent:5px;}
.con_column ul li a:hover{ background:url(../images/list_bg_hover.png); color:#ab44da;}

.con_col_list{ margin-top:20px; text-align:center;}
.con_col_list ul{ float:left;}
.con_col_list ul li{ float:left; display:block; width:168px; height:270px; margin:0 36px 25px 0; background:#ebebeb;  position:relative;}
.con_col_list h2{ width:168px; font-size:18px; color:#000;}
.con_col_list p{ height:30px; line-height:22px;}
.con_col_list .con_listen { position:absolute; left:5px; bottom:5px;}
.con_col_list .con_listen b{ color:#f00;}
.con_col_list .con_but { width:70px; height:28px; display:block;position:absolute; right:5px; bottom:5px; background:url(../images/bottom_school.png) no-repeat right bottom; cursor:pointer;}
.con_col_list ul li:hover{ box-shadow:0px 0px 8px #09F;}

/*--------------------时间轴-----------------*/

.time_shaft{ width:800px; margin:20px auto;}
.time_main{ background:url(../images/time_img_a.jpg) repeat-y 10px top; display:block;padding-top:10px; }
.time_title{ width:100px; display:block; float:left; font-size:18px; text-align:center; }
.time_list{ width:600px; display:block; float:left; margin:5px 10px 0 50px;}
.time_list li { width:500px; display:block; margin:0 0 10px 0;}
.time_list li p{  margin-right:20px; display:inline-block;}
.time_list li p span *{ vertical-align:middle; margin-right:5px;}
.time_menu { height:30px;line-height:30px;}
.time_menu h2{ float:left; width:100px; text-align:center; font-size:22px; color:#f90;}
.time_menu p{ float:left; width:500px; margin-left:50px; font-size:16px; color:#09f;}


.footer { width:100%; height:218px; background:url(../images/mainbg.png) no-repeat center top;}
