@charset "utf-8";
/* CSS Document */

.header{ width:100%;}
/*---------------头顶-------------*/
.main{ background:#fff url(../images/new_bg.jpg) no-repeat center top; }
.hea_top { width:1000px; height:600px;margin:0 auto;position: relative;}
.hea_top .logo{ position:absolute; left:0px; top:30px;}
.hea_top .gun_img { position:absolute; left:10px; top:260px;}
.hea_nav .a_a{ width:88px; height:97px; line-height:97px; display:block;position:absolute; left:466px; top:20px; background:url(../images/a_a.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}
.hea_nav .a_b{ width:85px; height:79px; line-height:79px; display:block;position:absolute; left:596px; top:60px; background:url(../images/a_b.png) no-repeat left top; font-size:24px; color:#008751; text-align:center;}
.hea_nav .a_c{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:710px; top:38px; background:url(../images/a_c.png) no-repeat left top; font-size:24px; color:#1682e6; text-align:center;}
.hea_nav .a_d{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:850px; top:50px; background:url(../images/a_d.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}

.hea_nav .a_a:hover{ background:url(../images/a_hover.png);}
.hea_nav .a_b:hover{ background:url(../images/b_hover.png); color:#fff;}
.hea_nav .a_c:hover{ background:url(../images/c_hover.png);color:#fff;}
.hea_nav .a_d:hover{ background:url(../images/d_hover.png);color:#fff;}

.hea_new { position:absolute; right:0; top:0;}
.hea_new a{ padding:0 10px;}
.hea_new a:hover{ color:#f00;}

.con_login{position: absolute;left: 750px;top: 390px; }
.con_login .con_user{height:30px; line-height:30px; border:3px #7abf04 solid; margin-bottom:15px; border-radius:10px; width:200px; text-indent:10px;}
.con_login .con_user_but { padding:5px 15px; background:#096; color:#fff; margin:10px 10px 0 0; border-radius:6px;}
.con_login .con_user_but:hover{ background:#09f;}
/*--------------------里面抬头部分-------------------------------*/
.menu {background:#fff url(../images/top_bg.png) no-repeat center top;}
.menu_top { width:1000px; height:230px;margin:0 auto;position: relative;}
.menu_top .logo{ position:absolute; left:0px; top:30px;}

.user_info_hidd { margin:25px 0 0 10px;}
.user_info_hidd p{float:left; height:30px; line-height:30px; margin:10px 10px 0 5px;padding:0 10px;}
.user_info_hidd .user_info_sid *{vertical-align:middle; margin-left:10px;}
.user_info_hidd .user_info_sid span{ margin-left:5px;}
.user_info_hidd a:hover{ color:#f90;}

/*--------------中间-------------*/
.content { width:1000px; margin:0 auto;}
.con_column { width:1000px; height:60px; margin:20px 0;}
.con_column h2{ float:left;font-size:30px; color:#09F; line-height:60px;}
.con_column ul{ float:right;}
.con_column ul li { float:left;}
.con_column ul li a{ float:right; display:block;width:100px; height:60px; background:url(../images/list_bg.png) left top; text-align:center; line-height:60px; font-size:20px; text-indent:5px;}
.con_column ul li a:hover{ background:url(../images/list_bg_hover.png); color:#ab44da;}
.con_col_list{ margin-top:20px; text-align:center;}
.con_col_list ul{ float:left;}
.con_col_list ul li{ float:left; display:block; width:220px; height:200px; margin:0 32px 25px 0; background:#ebebeb;  position:relative; border:1px #f1f1f1 solid;}
.con_col_list h2{ width:180px; font-size:18px; color:#000; margin-top:5px;}
.con_col_list p{ height:30px; line-height:22px;}
.con_col_list .con_listen { position:absolute; left:5px; bottom:0px;}
.con_col_list .con_listen b{ color:#f00;}
.con_col_list .con_but { width:70px; height:28px; display:block;position:absolute; right:5px; bottom:5px; background:url(../images/bottom_school.png) no-repeat right bottom; cursor:pointer;}
.con_col_list ul li:hover{ /*box-shadow:0px 0px 8px #09F;*/ border:1px #09F solid;}
/*--------------------时间轴-----------------*/
.time_shaft{ width:700px; margin:20px auto;}
.time_main{ background:url(../images/time_img_a.jpg) repeat-y 10px top; display:block;padding-top:10px; border-bottom:1px #ccc solid; }
.time_title{ width:100px; display:block; float:left; font-size:18px; text-align:center;}
.time_list{ width:500px; display:block; float:left; margin:5px 10px 0 50px;}
.time_list li { width:400px; display:block; margin:0 0 10px 0;}
.time_list li p{  margin-right:20px; display:inline-block;}
.time_list li p span *{ vertical-align:middle; margin-right:5px;}
.time_menu { height:50px;line-height:50px; background:#f1f1f1;}
.time_menu h2{ float:left; width:100px; text-align:center; font-size:22px; color:#f90;}
.time_menu p{ float:left; width:400px; margin-left:50px; font-size:16px; color:#09f;}
/*--------------------试题列表-----------------*/
.question_bg {width:1000px; height:670px;background: url(../images/word_bg.png) no-repeat left top; margin:0 auto;}
.que_but_list{ position:relative; margin-top:20px;}
.que_but_a{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:190px; top:80px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;} 
.que_but_b{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:465px; top:80px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_c{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:726px; top:80px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_d{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:300px; top:250px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_e{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:630px; top:250px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063; }
.que_but_a:hover,.que_but_b:hover, .que_but_c:hover, .que_but_d:hover, .que_but_e:hover{background:url(../images/work_but_hover.png) no-repeat left top; text-align:center;color:#000;padding:88px 20px 0 18px;}
.que_but_page { position: relative; }
.que_but_page a { position:absolute;bottom:100px; right:20px;background:url(../images/page.png) no-repeat left top; z-index:999; width:76px; height:93px; display:block; line-height:120px; text-align:center; font-size:16px; color:#fff; font-weight:700;}
.que_but_page a:hover{ color:#000;background:url(../images/page_hover.png) no-repeat left top;}


.questions_list{ width:1000px; margin:0 auto;
 background:url(../images/math-tb2.jpg) no-repeat left top,url(../images/math-tb.jpg) no-repeat left bottom,url(../images/math-repeat-bg.jpg) repeat-y left center; padding:15px 0 40px 0;}
.filter_breadcrumb { width:960px; margin:0 auto; padding:10px 0;}
.filter_content {display:inline-block; margin:3px 0;}
.filter_title{ float:left; padding:0 5px;height:30px; line-height:30px; text-align:left; font-size:18px; color:#A6703D;}
.filter_ul { width:960px;}
.filter_ul li{float:left;}
.filter_ul li a{ height:24px; line-height:24px; float:left; display:block; text-align:center; padding:0 5px; margin:3px 10px; color:#333;}
.filter_ul li a:hover { background:#D0A66D; color:#fff;}

/*--------------------试题列表2-----------------*/
.con_quest { width:1000px; height:922px; margin:0 auto; background:url(../images/02.png) no-repeat left top; position:relative; padding-top:30px;}
.con_que { width:960px; height:120px; margin:20px 0px 0px 20px; background:url(../images/xin_img.png) no-repeat left 0px; position:relative;}
.con_que h2{float:left; display:block; background: url(../images/shuxue.png) no-repeat left top; width:200px; line-height:120px;}
.con_que p{ float:left; display:block; font-size:30px; color:#FF0; margin:45px 30px 0 30px}
.con_que .pue_but a{ padding:2px 10px; text-align:right; border:1px #0063a5 solid; position:absolute; right:15px; top:50px; height:20px; font-size:14px; color:#c0e6ff;}
.con_que .pue_but a:hover{ background:#0063a5; color:#fff;}
.con_que .con_sel, .con_que_shi .con_sel{ width:130px; height:30px; line-height:30px; float:left; display: table-cell; margin-left:15px;}
.con_que_but { padding:10px 0;}
.con_que_but a{ padding:1px 15px; background:#efc381; margin:5px 10px; color:#fff;} 
.con_que_but a:hover{ background:#c79f63;}

.con_pue_sid {vertical-align:middle; margin:20px auto;width:760px; height:400px; background:url(../images/35.png) no-repeat 40px 40px;padding-left:70px;}
.con_pue_sid h2{ text-align:left; font-size:26px; color:#f90;}
.con_pue_sid p{ padding:5px 0; font-size:16px;}
.con_pue_sid .con_sid_img { width:700px; height:; display:block; margin-top:30px;}
.con_pue_s { margin-top:20px;}
.con_pue_s p{ float:left; display:block; width:260px; overflow:hidden;height:40px; line-height:40px; vertical-align:middle; text-align:center; margin-top:10px; color:#fff;}
.con_pue_s p img{ vertical-align:middle; margin-right:5px;}
.que_but { margin:50px 0 0 100px;}
.que_but p{ float:left; display:block; margin:0 20px;}
.answer { width:800px; float:left;display:block; margin:20px 0 0 115px;}
.answer h2{ font-size:40px; color:#f00;}
.answer p{ margin-top:20px; font-size:22px; color:#090;}
.buttom_a { position:absolute;right:40px; bottom:80px;}
.quest_a  { width:52px; height:55px; display:block; background:url(../images/a.png) no-repeat left top;}
.quest_b  { width:52px; height:55px; display:block; background:url(../images/b.png) no-repeat left top;}
.quest_c  { width:52px; height:55px; display:block; background:url(../images/c.png) no-repeat left top;}
.quest_d  { width:52px; height:55px; display:block; background:url(../images/d.png) no-repeat left top;}
.quest_e  { width:195px; height:70px; display:block; background:url(../images/dui.png) no-repeat left top;}
.quest_f  { width:195px; height:70px; display:block; background:url(../images/cuo.png) no-repeat left top;}
.quest_a:hover, .select  { width:52px; height:55px; display:block; background:url(../images/a_1.png) no-repeat left top;}
.quest_b:hover, .select_a { width:52px; height:55px; display:block; background:url(../images/b_1.png) no-repeat left top;}
.quest_c:hover  { width:52px; height:55px; display:block; background:url(../images/c_1.png) no-repeat left top;}
.quest_d:hover  { width:52px; height:55px; display:block; background:url(../images/d_1.png) no-repeat left top;}
.quest_e:hover {width:195px; height:70px; display:block; background:url(../images/dui_hover.png) no-repeat left top;}
.quest_f:hover  { width:195px; height:70px; display:block; background:url(../images/cuo_hover.png) no-repeat left top;}
.tian_text { width:200px; height:40px; line-height:40px; border:none; border-bottom:1px #000 solid; font-size:40px; margin-top:10px; text-align:center;}
.que_but label{ font-size:22px;margin-top:40px;}


.live_resul {width:960px; margin:0 auto;}
.result_sorting { border-bottom:1px #D0A66D solid; background:#fff3e3; height:30px;}
.result_sorting a{ padding:0 10px;height:30px; line-height:30px; margin-left:10px; border:1px #D0A66D solid; background:#fff; color:#666;}
.result_sorting a:hover { background:#A6703D; color:#fff; border:1px #D0A66D solid;}
.result_list { width:960px; float:left;}
.result_list ul{ width:960px;float:left;}
.result_list ul li{width:960px;float:left; display:block; padding:20px 0; border-bottom:1px #D0A66D dashed; margin-bottom:10px;}
.result_img { float:left; display:block; margin:0px 15px;}
.result_con { float:left; display:block; width:260px; margin-right:30px;overflow:hidden}
.result_price { float:left; display:block; width:140px; margin-left:20px;overflow:hidden}
.result_con .result_con_ti, .result_price .result_con_ti {color:#333; font-size:18px;}
.result_con .pt1, .result_price .pt1{ color:#f00; height:24px; line-height:24px;}
.result_con .pt2, .result_price .pt2{color:#666; height:24px; line-height:24px;}
.result_con .pt3, .result_price .pt3{color:#999; height:24px; line-height:24px;}
.result_con .yuan,.result_price .yuan{ color:#F00; font-size:18px; }
.result_con .yuan span,.result_price .yuan span { color:#666; font-size:14px;padding-left:5px;}

.paging { float:left;width:960px; height:30px; line-height:30px; display:block;}
.paging a { width:16px; height:16px; margin-right:10px; background:#D0A66D; padding:2px 10px; color:#fff;}
.paging a:hover{background:#A6703D;}


/*--------------------题库-----------------*/
.bank_list{ width:900px; margin:0 auto;padding:20px 0 0 40px;}

.bank_radio { width:1000px;}
.radio_tit { margin:5px 0; color:#093; font-size:16px;}
.form_item .form_sid { margin:10px 0;}
.form_item .form_sid p{text-align:left; display:block;}
.form_item .form_sid span{text-align:left; margin-left:10PX;}
.form_item .form_answer{ height:30px; line-height:30px; margin-bottom:10px;}
.form_item .form_answer dl dt{ float:left; display:block; margin-right:15px; color:#f90; font-size:16px;}
.form_item .form_answer dl dd p{ float:left;margin:0px 25px 0 0; color:#333; padding:0;}
.bank_but { margin:10px 0;}
.bank_but a{ padding:2px 10px; background:#32b898; color:#fff;}
.bank_but a:hover{background:#1f8970;}
.bank_det p{ margin:5px 0;}
.bank_det b{ color:#F00; margin:0 10px;}
.blanks_text { border:none; border-bottom:1px solid #666; width:150px; color:#f00; margin:0 3px;}

/*--------------------评论-----------------*/
.pinglun{ }
.location{ margin-left:20px; margin-bottom:4px}
.location a{ padding:2px 4px; font-size:16px; color:#666;}
.location a:hover { color:#f90;}
.ping_title{height:60px;line-height:60px; text-align:center;  font-size:35px; background:url(../images/title_bg.png) no-repeat 15px center; color:#442100; letter-spacing:2px; display:block;}
.ping_left{ float:left; width:700px; display:block; height:450px; background: url(../images/live_bg.png) no-repeat left top; margin:0px 0 10px 20px;}
.ping_left_an {width:1000px; float:left;display:block; height:700px; background:url(../images/15.png) no-repeat left center; margin:10px 0;}
.ping_li_an{ width:800px; height:600px; float:left; display:block; background:#000; margin:25px 0 0 100px;}

.ping_left .ping_item{ margin:40px 0 0 20px; display: none;}
.ping_left .ping_item a{ color:#fff; text-align:center;width:209px; height:37px;line-height:37px; display:block; font-size:16px; float:left; margin-right:15px; text-indent:10px;}
.ping_left .school_a {background:url(../images/school_hover.png) no-repeat left top;}
.ping_left .vod_a {background:url(../images/vod_hover.png) no-repeat left top;}
.ping_left .ke_a {background:url(../images/ke_hover.png) no-repeat left top;}
.ping_left .school_a:hover {background:url(../images/school_a.png) no-repeat left top;}
.ping_left .vod_a:hover {background:url(../images/vod_a.png) no-repeat left top;}
.ping_left .ke_a:hover {background:url(../images/ke_a.png) no-repeat left top;}

.ping_left .ping_li{ width:640px; height:360px; float:left; display:block; background:#000; margin:50px 0 0 32px;}
.ping_right{ float:right; display: block; width:230px; height:auto; background:url(../images/right_bg.png) no-repeat left top; margin:0 26px 20px 0px;}
.right_sid {height:300px;}
.right_sid h2{ width:230px; height:34px; line-height:34px;font-size:26px; color:#222;text-align:center;margin:35px 0 0 0;}
.right_sid p { height:36px; line-height:36px;}
.right_sid p a{ margin:0px 0 0 50px; color:#222; font-size:16px;}
.right_but a{ background:url(../images/yun.png) no-repeat left top; width:230px; height:102px; display:block;text-align:center; line-height:102px; color:#fff; font-size:40px; letter-spacing:2px;}
.right_but a:hover{ color:#000;}

.ping_footer{ width:1000px;height:100%;}
.ping_foot_left { float:left;display:block; width:700px; height:100%; background:#e7cfaa; margin:0 0 0 20px; padding:10px 0;}
.ping_foot_game { float:left;display:block; width:700px; height:100%; background:#a5ba85; margin:0 0 0 20px; padding:10px 0;}
.ping_fo_ti{width:200px; height:40px; text-align:center; font-size:26px; letter-spacing:2px; color:#000;background:url(../images/ti_bg.png ) no-repeat 30px top; }
.ping_foo_con{ width:680px; height:100%; background:#fff; margin:0 0 0 10px;}
.ping_fo_c{ padding:10px 0 10px 20px; margin:0 0 5px 0; border-bottom:1px #ccc dashed; position:relative;}
.ping_fo_c img{ float:left; display:block;}
.ping_fo_c p{ float:left; margin-left:15px; width:500px;}
.pi_time { position:absolute; right:50px; bottom:10px;}
.ping_form { width:660px; padding:10px; background:#fff; margin-left:10px;}
.ping_form a{ padding:5px 10px;display:block; width:40px; height:20px; text-align:center; background:#F90; margin:10px 0 0 10px; color:#fff;}
.ping_tarea { width:640px; height:80px; margin-left:10px;}

.ping_foot_right{ float:right; width:230px;margin:0 26px 20px 0px;}
.ping_f_bot { width:230px; margin:5px 0 15px 0;}
.ping_f_bot a{ padding:5px 34px; background:#e7cfaa; color:#fff; margin-right:20px; letter-spacing:3px; display:inline;}
.ping_f_bot a:hover{ background:#f90;}

.ping_fot_tm li{ margin-bottom:10px; border:1px #ccc solid;}
.ping_fot_tm .pi_text { height:30px; line-height:30px; text-indent:10px;}
.ping_fot_tm li:hover{ border:1px #f90 solid; cursor:pointer;}

/*--------------------公鸡游戏-----------------*/
.questions_list_game {width:1020px; margin:0 auto; padding-top:10px; background:url(../images/bg_ga.png) no-repeat center top;}

/*.game_ti { margin:10px 0 0 30px; width:1000px; height:40px; }*/
.game_ti h2{ font-size:26px; color:#09C; text-align:center;}
.game_list{margin:15px 0 0 20px; min-height:500px;}
.game_list ul li{ float:left; display:block; width:220px; height:190px;margin-right:20px; cursor:pointer; border:1px #fff solid; }
.game_list ul li img { margin-bottom:5px;}
.game_list ul li:hover{border:1px #9bbe20 solid;}

.game_a {width:80px; height:30px; float:left; line-height:30px; display:block;background:url(../images/Arrow.png) no-repeat left center;font-size:20px;color:#09f;}
.game_b {width:80px; height:30px; float:left;line-height:30px; display:block;background:url(../images/arrow-righ.png) no-repeat left center;font-size:20px;color:#09f; margin-left:60px;}
.game_c {width:120px; height:30px; line-height:30px; display:block;background:url(../images/Load.png) no-repeat left center;font-size:20px;color:#09f; margin-left:55px;}
.game_a:hover{background:url(../images/Arrow_hover.png) no-repeat left center;}
.game_b:hover{background:url(../images/arrow-righ_hover.png) no-repeat left center;}
.game_c:hover{background:url(../images/Load_hover.png) no-repeat left center;}

.game_list ul li a:hover{ color:#2d6a00;}

.ping_game_title { width:1000px;height:35px;}
.ping_game_title h2{ font-size:18px; color:#fff; text-align:left; margin:0 0 0 30px;}
.ping_game{ height:42px; margin:10px 0 0 30px; }
.ping_ti_a {background:url(../images/ti_bg.png ) no-repeat left top; width:151px; height:40px;float:left; display:block; text-align:center; line-height:40px; font-size:22px; letter-spacing:2px;}
.ping_ti_a:hover{ color:#393;}


/*--------------------公鸡播放-----------------*/
.header_p{ width:100%;min-height:1200px; background:url(../images/bg_h.jpg) no-repeat center top;}
.menu_ping{ width:1200px; height:1200px; margin:0 auto; position:relative;}
.menu_ping .logo_p, .menu_zhe .logo_p{ position:absolute; top:30px; left:50px;}
.menu_ping .con_ping{ position:absolute; top:308px; left:182px; width:800px; height:600px; background:#000;}
.footer_p p{ height:30px; text-align:center; line-height:30px; color:#fff; background:#5c8287;}
/*--------------------公鸡首页-----------------*/
.header_zhe{ width:100%;min-height:1200px; background:url(../images/bg.png) no-repeat center top;}
.menu_zhe  .zhe_home { padding:260px 0px 0px 80px;}
.menu_zhe {width:1200px; height:1116px; margin:0 auto; position:relative;}
.zhe_home ul li{ float:left; display:block; width:330px; height:300px; margin:0 30px 20px 0; position:relative;}
.zhe_photo { position:absolute; left:0; top:0; z-index:999;}
.zhe_im { position:absolute; left:30px;top:40px; z-index:1;}
.zhe_but_c{ position:absolute; left:20px; bottom:20px; background:url(../images/but_c.png) no-repeat left top; width:124px; height:40px;}
.zhe_but_b{ position:absolute; right:20px; bottom:20px; background:url(../images/but_b.png) no-repeat left top; width:124px; height:40px;}
.zhe_but_a{ position:absolute; left:20px; bottom:20px; background:url(../images/but_a.png) no-repeat left top; width:124px; height:40px;}
.zhe_but_a:hover{background:url(../images/but_a_h.png) no-repeat left top;}
.zhe_but_b:hover{background:url(../images/but_b_h.png) no-repeat left top;}
.zhe_but_c:hover{background:url(../images/but_c_h.png) no-repeat left top;}

/*--------------------个人中心-----------------*/
.qu_left { width:200px; float:left; margin-right:30px;}
.qu_user_pho{ width:200px; height:160px; text-align:center; vertical-align:middle;display: table-cell;;}
.qu_item{ background:#dac189; padding:10px 0;}
.qu_item ul li {width:200px; overflow:hidden;}
.qu_item ul li a{ width:200px; display:block; padding:5px 0; height:35px; line-height:35px; color:#000; text-align:center;}
.qu_item ul li a:hover{ background:#8f6239; color:#fff;}
.qu_item .pt4 { background:url(../images/ico1.png) no-repeat 45px center;}
.qu_item .pt5 { background:url(../images/ico2.png) no-repeat 45px center;}
.qu_item .pt6 { background:url(../images/ico3.png) no-repeat 45px center;}
.qu_item .pt7 { background:url(../images/ico4.png) no-repeat 45px center;}
.qu_item .pt8 { background:url(../images/ico5.png) no-repeat 45px center;}
.qu_item .pt9 { background:url(../images/ico6.png) no-repeat 45px center;}
.qu_item .pt10 { background:url(../images/ico7.png) no-repeat 45px center;}
.qu_item .pt11 { background:url(../images/ico8.png) no-repeat 45px center;}
.qu_item .pt12 { background:url(../images/ico9.png) no-repeat 45px center;}
.qu_item .pt4:hover { background:#8f6239 url(../images/ico1.png) no-repeat 45px center;}
.qu_item .pt5:hover { background:#8f6239 url(../images/ico2.png) no-repeat 45px center;}
.qu_item .pt6:hover { background:#8f6239 url(../images/ico3.png) no-repeat 45px center;}
.qu_item .pt7:hover { background:#8f6239 url(../images/ico4.png) no-repeat 45px center;}
.qu_item .pt8:hover { background:#8f6239 url(../images/ico5.png) no-repeat 45px center;}
.qu_item .pt9:hover { background:#8f6239 url(../images/ico6.png) no-repeat 45px center;}
.qu_item .pt10:hover { background:#8f6239 url(../images/ico7.png) no-repeat 45px center;}
.qu_item .pt11:hover { background:#8f6239 url(../images/ico8.png) no-repeat 45px center;}
.qu_item .pt12:hover { background:#8f6239 url(../images/ico1.png) no-repeat 45px center;}

.qu_right { width:760px; float:left;}
.qu_right .qu_right_it {margin-top:10px; margin-bottom:30px; height:120px;}
.qu_right .qu_right_it h2 { font-size:18px; color:#222; }
.qu_right .qu_right_it p { height:24px; line-height:24px;}
.qu_right .qu_right_it p a{ padding:0 5px; margin-right:10px; color:#f90;}
.qu_right .qu_right_it p a:hover{ color:#f00;}
.qu_right .qu_tarea { margin-bottom:10px; display:block;}
.qu_right .qu_tarea p{ float:right;}
.qu_right .qu_tarea p span{ margin-right:10px;}
.qu_right .qu_tarea p a{ padding:2px 10px; background:#f90; color:#fff;}
.qu_right .qu_tarea p a:hover{background:#af6900;}

.qu_right .qu_tar { width:760px; height:80px; margin-bottom:5px;border:1px #666 solid; color:#666;}
.qu_right .qu_but { float:right;}
.qu_right .qu_but a { background:url(../images/jihuo.png) no-repeat left top; width:140px; height:42px; line-height:42px; display:block; text-align:center; font-size:26px; letter-spacing:2px; color:#fff !important;}
.qu_right .qu_but a:hover { background:url(../images/jihuo_hover.png) no-repeat left top;}

.qu_info{ height:100%; margin:10px 0; border:1px #CCC solid; background:#f1f1f1; padding:5px 0; font-weight: bold; color:#333;}
.qu_no_info { padding:10px 0;border:1px #f90 solid; background:#ffd391; color:#333; text-align: center;}
.qu_no_info a{ padding:0 10px;}
/*--------------------课程详简-----------------*/
.school_but {}
.school_sid { width:1000px; margin:0 auto; height:130px; padding:10px 0;}
.school_sid a{ width:266px; height:124px; display:block; float:left; margin-right:40px;}
.school_sid  .sid_a{ background:url(../images/07.png) no-repeat left top;}
.school_sid  .sid_b{ background:url(../images/08.png) no-repeat left top;}
.school_sid  .sid_c{ background:url(../images/09.png) no-repeat left top;}
.school_sid  .sid_a:hover{ background:url(../images/07_hover.png) no-repeat left top;}
.school_sid  .sid_b:hover{ background:url(../images/08_hover.png) no-repeat left top;}
.school_sid  .sid_c:hover{ background:url(../images/09_hover.png) no-repeat left top;}
.school_con { background:url(../images/10.png) no-repeat left top, url(../images/12.png) repeat-y 0px top; padding:0 0 25px 40px;}
.school_con:hover{background:url(../images/11.png) no-repeat left top, url(../images/12.png) repeat-y 0px top; cursor:pointer;}
.school_con li{ float:left; display:block;margin:0 20px 20px 0; height:150px; position:relative; border:1px #ccc solid; padding:3px;}
.school_con h2{ font-size:18px; color:#333;}
.school_con .guomai { position:absolute; bottom:5px; right:5px; padding:2px 10px; background:#ccc; color:#fff;}
.school_con .notguomai { position:absolute; bottom:5px; right:5px; padding:2px 15px; background:#f90; color:#fff;}
.school_con .notguomai:hover{ background:#f30;}
.sc_co_title { font-size:16px; color:#333;}
/*-------------------------------------*/
#portrait_up { width:450px;height:auto; margin:0 auto; border:1px #ccc solid; background:#fff;}
.pr_title {background:#c79f63; height:40px; margin-bottom:15px;}
.pr_title h2{ float:left; color:#fff; font-size:16px; line-height:40px; text-indent:10px; font-weight:700;}
.pr_title span{ float:right; margin:5px 10px 0 0;} 

.pr_sid { width:100%; height:70px; padding:20px 0;}
.pr_sid a{ float:left; margin-right:20px;}
.pr_sid  .sid_d{ background:url(../images/07_a.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_e{ background:url(../images/08_a.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_f{ background:url(../images/09_a.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_d:hover{ background:url(../images/07_a_hover.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_e:hover{ background:url(../images/08_a_hover.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_f:hover{ background:url(../images/09_a_hover.png) no-repeat left top; width:130px; height:61px; display:block;}

/*--------------------我的课程-----------------*/
.sh_ke{ margin:0 0px 10px 0; overflow:hidden;}
.sh_ke h2{ float:left;font-size:18px; height:40px; line-height:40px; text-indent:10px;color:#009871;}
.catalog_box_more{ float:right; margin-right:10px; line-height:40px; color:#666;}
.catalog_box_more:hover { color:#188EEE;}
.sh_ke .sh_sch_ke h2{ width:220px; height:26px; line-height:26px; font-size:16px; color:#333; overflow:hidden; text-align:left;}
.sh_ke .sh_sch_ke li {width:220px;float:left; display:block; margin:0 25px 20px 0; border:2px #fff solid; padding-bottom:8px; background:#f1f1f1; position:relative; }
.sh_ke .sh_sch_ke li:hover{ border:#af6900 2px solid;}

.sh_ke .sh_sch_ke b { color:#f90; font-size:16px; margin:0 5px; font-weight:normal;}
.sch_unm { color:#009871;font-size:14px; margin-right:10px; font-weight:normal;}
.sh_ke .sh_sch_ke {border-top:1px solid #ccc; padding:20px 0 0 10px; display: inline-block;}
.sh_ke .sh_sch_ke p{ text-align:left; margin-top:3px; text-indent:5px; line-height:150%;}
.sh_sch_but { position:absolute; right:5px; bottom:5px;}
.sh_sch_but .col_sh{ padding:2px 10px; background:#f90; color:#fff;}
.sh_sch_but .col_sh:hover{padding:2px 10px; background:#188eee; color:#fff;}
.sh_sch_but .col_st{ padding:2px 10px; background:#ccc; color:#fff;}
.sh_sch_but .col_sf{ padding:2px 10px; background:#178d4c; color:#fff;}
.sh_sch_but .col_sh:hover{padding:2px 10px; background:#188eee; color:#fff;}
.sh_sch_but .col_sd{ padding:2px 10px; background:#2bb7a8; color:#fff;}

/*--------------------个人信息-----------------*/

.st_titile_r { float:left; display:block; width:760px; height:40px; line-height:40px; position:relative; margin-bottom:10px;border-bottom:1px #dbdbdb solid; }
.st_titile_r a{ float:left; display:block; font-size:16px;color:#666; margin-right:20px; padding:0 10px; }
.st_titile_r a:hover{ color:#188EEE; background:url(../images/user_hover.png) no-repeat left bottom;}
.st_titile_r .sec{ color:#f90;}
.st_titile_r .st_add{ position:absolute; right:80px; top:0; font-size:14px; display:block; color:#666;}
.st_titile_r .st_up{position:absolute; right:0px; top:0; font-size:14px; display:block; color:#666;}
.st_titile_r .st_add:hover, .st_titile_r .st_up:hover{ color:#f90;}

.sh_title { font-size:16px; border-bottom:1px #009871 solid; width:100%; margin-bottom:10px; position:relative;}
.sh_title span{ font-size:13px; position:absolute; left:100px; top:5px; color:#999;}

.sh_form_con { margin-left:100px; padding-bottom:10px;}

/*--------------------我的收藏-----------------*/
.sh_ke .sh_sch_ky { /*border-top:1px solid #ccc;*/ padding:20px 0 0 10px; display: inline-block; }
.sh_ke .sh_sch_ky h2{ width:160px; height:26px; line-height:26px; font-size:16px; color:#333; overflow:hidden;}
.sh_ke .sh_sch_ky li {width:160px;float:left; display:block; margin:0 23px 20px 0; border:2px #fff solid; padding-bottom:8px; background:#f1f1f1; position:relative; }
/*.sh_ke .sh_sch_ky li:hover{ border:#af6900 2px solid;}*/
.sh_ke .sh_sch_ky p{margin-top:3px; text-indent:5px; line-height:150%;text-align:center;}
.sh_ke .sh_sch_ky p a{ padding:2px 10px; background:#ccc; color:#666;}
.sh_ke .sh_sch_ky p a:hover{ background:#bca871; color:#fff;}


/*--------------------我的题库-----------------*/

.sh_add { position:absolute; right:10px; top:5px; font-size:14px; color:#009871;}
.sh_add:hover{ color:#f90;}

.sh_collection { width:100%;}
.sh_collection ul li{ float:left;width:100%; padding:5px 0; margin:10px 0; border-bottom:1px #dbdbdb dashed;}
.sh_collection img { float:left; padding:5px;}

.sh_coll_tab { margin-top:10px; text-align:center; border:#ccc 1px solid;}
.sh_coll_tab th{ height:40px;text-align:center; font-size:16px; background:#dbdbdb; color:#009871;border:#ccc 1px solid;}
.sh_coll_tab tr td{ line-height:30px; overflow:hidden;border:#ccc 1px solid;}
.sh_coll_tab tr td a{ margin-right:10px; padding:2px 10px; background:#009871; color:#fff;}
.sh_coll_tab tbody tr:hover { background:#f0fffb;}
.sh_coll_tab tfoot { height:30px; text-align:right;}
.sh_add { position:absolute; right:10px; top:5px; font-size:14px; color:#009871;}
.sh_add:hover{ color:#f90;}
/*--------------------页脚-----------------*/


.footer { width:100%; height:218px; background:url(../images/mainbg.png) no-repeat center top; position:relative;}
.footer p{ position:absolute; left:50%;bottom:10px;color:#fff;}

