body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:410px;
  top:32px;
  width:800px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:825px;
  top:70px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:1055px;
  top:70px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:180px;
  top:6px;
  width:150px;
  height:116px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:116px;
}
#u5 {
  position:absolute;
  left:2px;
  top:50px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1228px;
  top:5px;
  width:22px;
  height:174px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:174px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:180px;
  top:1020px;
  width:1030px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:1026px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:180px;
  top:220px;
  width:310px;
  height:220px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:220px;
}
#u11 {
  position:absolute;
  left:2px;
  top:102px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:530px;
  top:220px;
  width:500px;
  height:220px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:220px;
}
#u13 {
  position:absolute;
  left:2px;
  top:102px;
  width:496px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:180px;
  top:460px;
  width:850px;
  height:550px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
}
#u15 {
  position:absolute;
  left:2px;
  top:267px;
  width:846px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1050px;
  top:220px;
  width:160px;
  height:220px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:220px;
}
#u17 {
  position:absolute;
  left:2px;
  top:86px;
  width:156px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1050px;
  top:470px;
  width:160px;
  height:300px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:300px;
}
#u19 {
  position:absolute;
  left:2px;
  top:134px;
  width:156px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1080px;
  top:650px;
  width:100px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1080px;
  top:480px;
  width:100px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:460px;
  width:80px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:198px;
  top:470px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:270px;
  top:460px;
  width:80px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:278px;
  top:470px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:341px;
  top:460px;
  width:80px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:349px;
  top:470px;
  width:27px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1050px;
  top:790px;
  width:160px;
  height:220px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:220px;
}
#u37 {
  position:absolute;
  left:2px;
  top:102px;
  width:156px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1085px;
  top:9px;
  width:27px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1005px;
  top:6px;
  width:20px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u41 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1035px;
  top:9px;
  width:40px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1183px;
  top:9px;
  width:27px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1122px;
  top:9px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:180px;
  top:152px;
  width:1030px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:200px;
  top:164px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:253px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:320px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:390px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:453px;
  top:164px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:418px;
  top:9px;
  width:27px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:455px;
  top:9px;
  width:53px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
