@charset "utf-8";
html, body {color: #666;}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0;padding: 0}
body {background:url(../images/1.gif);}
table {border-collapse: collapse;border-spacing: 0}
fieldset, img {border: 0}
address, caption, cite, code, dfn, th, var, i, s {font-style: normal;font-weight: normal}
li {list-style: none}
caption, th {text-align: left}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal}
input[type=search] {-webkit-appearance: none}
input[type=checkbox] {vertical-align: middle;margin-top: -1px}
a img, a span, a strong, a s {#cursor:hand}
body, button, select, textarea, input {font-family: "微软雅黑",Microsoft YaHei, Tahoma, SimSun, Verdana;font-size: 14px;line-height: 1.5}
body {word-wrap: break-word}
button {white-space: nowrap;overflow: visible}
a {text-decoration: none;outline: 0;blr:expression(this.onFocus=this.blur())}
a:hover {text-decoration: none}
a:active {outline: 0}
a:focus {-moz-outline-style: none}
div[contenteditable=true] {-webkit-line-break: after-white-space;-webkit-nbsp-mode: space;-webkit-user-modify: read-write;word-wrap: break-word}
*:focus {outline: none}
.clearfix:before, .clearfix:after {content: '.';display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0}
.clearfix:after {clear: both}
.hide {display: none!important}
.l {float: left}
.r {float: right}
.clr { clear:both; margin:0; padding:0; border:0; line-height:0; height:0; font-size:0; width:100%;}
.mar{ margin-right:0px !important;}

.header{ width:100%;}
/*---------------头顶-------------*/
.main{ background:#fff url(../images/new_bg.jpg) no-repeat center top; }
.hea_top { width:1000px; height:600px;margin:0 auto;position: relative;}
.hea_top .logo{ position:absolute; left:0px; top:30px;}
.hea_top .gun_img { position:absolute; left:10px; top:260px;}
.hea_nav .a_a{ width:88px; height:97px; line-height:97px; display:block;position:absolute; left:466px; top:20px; background:url(../images/a_a.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}
.hea_nav .a_b{ width:85px; height:79px; line-height:79px; display:block;position:absolute; left:596px; top:60px; background:url(../images/a_b.png) no-repeat left top; font-size:24px; color:#008751; text-align:center;}
.hea_nav .a_c{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:710px; top:38px; background:url(../images/a_c.png) no-repeat left top; font-size:24px; color:#1682e6; text-align:center;}
.hea_nav .a_d{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:850px; top:50px; background:url(../images/a_d.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}

.hea_nav .a_a:hover{ background:url(../images/a_hover.png);}
.hea_nav .a_b:hover{ background:url(../images/b_hover.png); color:#fff;}
.hea_nav .a_c:hover{ background:url(../images/c_hover.png);color:#fff;}
.hea_nav .a_d:hover{ background:url(../images/d_hover.png);color:#fff;}

.con_login{position: absolute;left: 750px;top: 390px; }
.con_login .con_user{height:30px; line-height:30px; border:3px #7abf04 solid; margin-bottom:15px; border-radius:10px; width:200px; text-indent:10px;}
.con_login .con_user_but { padding:5px 15px; background:#096; color:#fff; margin:10px 10px 0 0; border-radius:6px;}
.con_login .con_user_but:hover{ background:#09f;}
.con_login .con_not_psd {color: #09f;}
.con_login .con_not_psd:hover{text-decoration: underline;}
/*--------------------里面抬头部分-------------------------------*/
.menu {background:#fff url(../images/top_bg.png) no-repeat center top;}
.menu_top { width:1000px; height:230px;margin:0 auto;position: relative;}
.menu_top .logo{ position:absolute; left:0px; top:30px;}
/*--------------中间-------------*/
.content { width:1000px; margin:0 auto;}
.con_column { width:1000px; height:60px; margin:20px 0;}
.con_column h2{ float:left;font-size:30px; color:#09F; line-height:60px;}
.con_column ul{ float:right;}
.con_column ul li { float:left;}
.con_column ul li a{ float:right; display:block;width:100px; height:60px; background:url(../images/list_bg.png) left top; text-align:center; line-height:60px; font-size:20px; text-indent:5px;color:#09F;}
.con_column ul li a:hover{ background:url(../images/list_bg_hover.png); color:#ab44da;}
.con_col_list{ margin-top:20px; text-align:center;}
.con_col_list ul{ float:left;}
.con_col_list ul li{ float:left; display:block; width:168px; height:270px; margin:0 36px 25px 0; background:#ebebeb;  position:relative;}
.con_col_list h2{ width:168px; font-size:18px; color:#000;}
.con_col_list p{ height:30px; line-height:22px;}
.con_col_list .con_listen { position:absolute; left:5px; bottom:5px;}
.con_col_list .con_listen b{ color:#f00;}
.con_col_list .con_but { width:70px; height:28px; display:block;position:absolute; right:5px; bottom:5px; background:url(../images/bottom_school.png) no-repeat right bottom; cursor:pointer;}
.con_col_list ul li:hover{ box-shadow:0px 0px 8px #09F;}
/*--------------------时间轴-----------------*/
.time_shaft{ width:800px; margin:20px auto;}
.time_main{ background:url(../images/time_img_a.jpg) repeat-y 10px top; display:block;padding-top:10px; }
.time_title{ width:100px; display:block; float:left; font-size:18px; text-align:center;}
.time_list{ width:600px; display:block; float:left; margin:5px 10px 0 50px;}
.time_list li { width:500px; display:block; margin:0 0 10px 0;}
.time_list li p{  margin-right:20px; display:inline-block;}
.time_list li p span *{ vertical-align:middle; margin-right:5px;}
.time_menu { height:30px;line-height:30px;}
.time_menu h2{ float:left; width:100px; text-align:center; font-size:22px; color:#f90;}
.time_menu p{ float:left; width:500px; margin-left:50px; font-size:16px; color:#09f;}
/*--------------------试题列表-----------------*/
.question_bg {width:1000px; height:670px;background: url(../images/word_bg.png) no-repeat left top; margin:0 auto;}
.que_but_list{ position:relative; margin-top:20px;}
.que_but_a{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:190px; top:120px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;} 
.que_but_b{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:465px; top:120px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_c{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:726px; top:120px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_d{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:300px; top:290px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_e{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:630px; top:290px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063; }
.que_but_a:hover,.que_but_b:hover, .que_but_c:hover, .que_but_d:hover, .que_but_e:hover{background:url(../images/work_but_hover.png) no-repeat left top; text-align:center;color:#000;padding:88px 20px 0 18px;}
.que_but_page { position: relative; }
.que_but_page a { position:absolute;bottom:20px; right:20px;background:url(../images/page.png) no-repeat left top; z-index:999; width:76px; height:93px; display:block; line-height:120px; text-align:center; font-size:16px; color:#fff; font-weight:700;}
.que_but_page a:hover{ color:#000;background:url(../images/page_hover.png) no-repeat left top;}


.questions_list{ width:1000px; margin:0 auto;
 background:url(../images/math-tb2.jpg) no-repeat left top,url(../images/math-tb.jpg) no-repeat left bottom,url(../images/math-repeat-bg.jpg) repeat-y left center; padding:15px 0 40px 0;}
.filter_breadcrumb { width:960px; margin:0 auto; padding:10px 0;}
.filter_content {display:inline-block; margin:3px 0;}
.filter_title{ float:left; padding:0 5px;height:30px; line-height:30px; text-align:left; font-size:18px; color:#A6703D;}
.filter_ul { width:960px;}
.filter_ul li{float:left;}
.filter_ul li a{ height:24px; line-height:24px; float:left; display:block; text-align:center; padding:0 5px; margin:3px 10px; color:#333;}
.filter_ul li a:hover { background:#D0A66D; color:#fff;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;}
.filter_ul li.current a { background:#D0A66D; color:#fff;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;}

/*--------------------试题列表2-----------------*/
.con_quest { width:1000px; height:922px; margin:0 auto; background:url(../images/02.png) no-repeat left top; position:relative; padding-top:30px;}
.con_que { width:960px; height:120px; margin:20px 0px 0px 20px; background:url(../images/xin_img.png) no-repeat left 0px;}
.con_que h2{float:left; display:block; background: url(../images/shuxue.png) no-repeat left top; width:200px; line-height:120px;}
.con_que h2.yuwen{float:left; display:block; background: url(../images/yuwen.png) no-repeat left top; width:200px; line-height:120px;}
.con_que h2.shuxue{float:left; display:block; background: url(../images/shuxue.png) no-repeat left top; width:200px; line-height:120px;}
.con_que h2.yingyu{float:left; display:block; background: url(../images/yingyu.png) no-repeat left top; width:200px; line-height:120px;}
.con_que p{ float:left; display:block; margin-right:20px; font-size:30px; color:#FF0; margin:0 20px; line-height:120px;}
.con_pue_sid { text-align:center; vertical-align:middle; margin:30px 0; height: 250px;}
.que_but { margin:50px 0 0 100px;}
.que_but p{ float:left; display:block; margin:0 20px;}
.answer { width:800px; float:left; margin:20px 0 0 115px; display: none;}
.answer h2{ font-size:40px; color:#f00;}
.answer p{ margin-top:20px; font-size:22px; color:#090;}
.button_submit { position: absolute;right: 40px; bottom: 200px;display: block;}
.button_next { position: absolute;right: 40px; bottom: 100px;display: none;}
.single_radio_hidden {display: none;}

.live_resul {width:960px; margin:0 auto;}
.result_sorting { border-bottom:1px #D0A66D solid; background:#fff3e3; height:30px;}
.result_sorting a.current,.result_sorting a.sortAsc,.result_sorting a.sortDesc {background:#A6703D; color:#fff;}
.result_sorting a{ padding:0 10px;height:30px; line-height:30px; margin-left:10px; border:1px #D0A66D solid; background:#fff; color:#666;}
.result_sorting a:hover { background:#A6703D; color:#fff; border:1px #D0A66D solid;}
.result_list { width:960px; float:left;}
.result_list ul{ width:960px;float:left;}
.result_list ul li{width:960px;float:left; display:block; padding:20px 0; border-bottom:1px #D0A66D dashed; margin-bottom:10px;}
.result_img { float:left; display:block; margin:0px 15px;}
.result_con { float:left; display:block; width:260px; margin-right:30px;overflow:hidden}
.result_price { float:left; display:block; width:140px; margin-left:20px;overflow:hidden}
.result_con .result_con_ti, .result_price .result_con_ti {color:#333; font-size:18px;}
.result_con .pt1, .result_price .pt1{ color:#f00; height:24px; line-height:24px;}
.result_con .pt2, .result_price .pt2{color:#666; height:24px; line-height:24px;}
.result_con .pt3, .result_price .pt3{color:#999; height:24px; line-height:24px;}
.result_con .yuan,.result_price .yuan{ color:#F00; font-size:18px; }
.result_con .yuan span,.result_price .yuan span { color:#666; font-size:14px;padding-left:5px;}

.paging { float:left;width:960px; height:30px; line-height:30px; display:block;}
.paging a { width:16px; height:16px; margin-right:10px; background:#D0A66D; padding:2px 10px; color:#fff;}
.paging a:hover{background:#A6703D;}

/*--------------------页脚-----------------*/
.footer { width:100%; height:218px; background:url(../images/mainbg.png) no-repeat center top;}

/*--------------css-------Boxy.ask Boxy.alert Boxy.confirm----------------*/
.boxy-wrapper .question {width: 280px;color:#333;margin-bottom:15px;line-height:18px;padding-left:40px;text-align: left;}
.boxy-wrapper .question i{width:36px;height:34px;position: absolute;top:30px;left:15px;}
.boxy-wrapper .question i.info{background:url(../images/asyncbox_bg.png) no-repeat -54px 0}
.boxy-wrapper .question i.ask{background:url(../images/asyncbox_bg.png) no-repeat -91px 0}
.boxy-wrapper .question i.right{background:url(../images/asyncbox_bg.png) no-repeat -127px 0}
.boxy-wrapper .question i.warn{background:url(../images/asyncbox_bg.png) no-repeat -163px 0}
.boxy-wrapper .question i.error{background:url(../images/asyncbox_bg.png) no-repeat -199px 0}
.boxy-wrapper .question span{height:34px;width: auto;position:absolute;top:38px;left:60px;padding-right: 15px;}
.boxy-wrapper .answers .boxy-btn3,.boxy-wrapper .answers .boxy-btn2,.boxy-wrapper .answers .boxy-btn1
{-webkit-border-radius: 3px;border-radius: 3px;font-size:16kpx; padding:8px 15px;  background:#009871; margin:0 5px; color:#fff;border: 0;}
.boxy-wrapper .answers .boxy-btn3:hover,.boxy-wrapper .answers .boxy-btn2:hover,.boxy-wrapper .answers .boxy-btn1:hover{ background:#f90;}
/*----------------------------------------------------------------------*/
