@charset "utf-8";
html, body {color: #666;}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0;padding: 0}
table {border-collapse: collapse;border-spacing: 0}
fieldset, img {border: 0}
address, caption, cite, code, dfn, th, var, i, s {font-style: normal;font-weight: normal}
li {list-style: none}
caption, th {text-align: left}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal}
input[type=search] {-webkit-appearance: none}
input[type=checkbox] {vertical-align: middle;margin-top: -1px}
a img, a span, a strong, a s {#cursor:hand}
body, button, select, textarea, input {font-family: "微软雅黑",Microsoft YaHei, Tahoma, SimSun, Verdana;font-size: 14px;line-height: 1.5}
body {word-wrap: break-word}
button {white-space: nowrap;overflow: visible}
a {text-decoration: none;outline: 0;blr:expression(this.onFocus=this.blur())}
a:hover {text-decoration: none}
a:active {outline: 0}
a:focus {-moz-outline-style: none}
div[contenteditable=true] {-webkit-line-break: after-white-space;-webkit-nbsp-mode: space;-webkit-user-modify: read-write;word-wrap: break-word}
*:focus {outline: none}
.clearfix:before, .clearfix:after {content: '.';display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0}
.clearfix:after {clear: both}sh_sch_ke 
.hide {display: none!important}
.l {float: left}
.r {float: right}
.clr { clear:both; margin:0; padding:0; border:0; line-height:0; height:0; font-size:0; width:100%;}
.mar{ margin-right:0px !important;}

.header{ width:100%;}
/*------------------form表单样式START----------------*/
.form_page{ width:570px; margin:0 auto; margin-bottom:20px; padding-left:80px;padding-top: 10px;}
button,input,select,textarea{vertical-align:middle;}
textarea{resize:none;vertical-align:top;overflow:auto;font:12px/1.5 Helvetica,Arial;width:500px;height:50px;}
.form_text{	margin:0;font:12px/1.5 Helvetica,Arial;height:18px;width:200px;}
.form_text, textarea, select{border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;padding:4px;}
.form_text, textarea { 
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.form_text:focus, textarea:focus,select{outline: 0 none;}
.form_text:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);}
.form_radio,.form_checkbox{	margin:0;padding:0;	width:13px;height:13px;font-size:13px;font-family:tahoma,Helvetica, Arial;}
.inline_ele{margin-right:5px;}
.form_item{	margin-bottom:6px;}
.form_item label{font-size:14px;line-height:28px;}

.form_info label{display:block;	float:left;width:100px;text-align:right;}
.form_info .form_field{float:none;}
.not-empty {color:red;font-weight: bolder;}
.form_info .form_action,.form_vertical .item_no_label{padding-left:0;}
.form_info .form_des, .form_info .form_action { margin-left:100px;}
.form_info .form_item{ margin:20px 0;}
.form_info .form_field a{color:#188EEE;}
.form_info .form_field a:hover{text-decoration: underline;}
.form_vertical .form_item{margin:20px 0;}
.form_vertical label{display:block;	float:left;width:100px;text-align:right;}
.form_vertical .form_field{float:none;}
.form_vertical .form_action,.form_vertical .item_no_label{padding-left:0;}
.form_item select{ *margin-top:5px;*vertical-align:top;}
.form_action{clear:both;}
.form_action .btn_regist{border-radius: 3px; width:100px; height:30px; line-height:30px; background:#f90; display:block; color:#fff; text-align:center; font-size:16px; border:0;margin-left: 100px;}
.form_action .btn_regist:HOVER{ background:#188EEE;}
.login_forgot { margin-left:5px; font-size:12px; color:#dac189; text-decoration: underline;}
.login_forgot:hover{ color:#f90;text-decoration: underline;}
.form_action input{border-radius: 3px; width:80px; height:30px; line-height:30px; float:left; background:#f90; display:block; color:#fff; text-align:center; font-size:16px; letter-spacing:4px;border:0;margin-right:10px;margin-bottom: 20px;}
.form_action input:HOVER{ background:#188EEE;cursor: pointer;}
.form_action .btn_approve{width:90px;}
.form_action .btn_disapprove{width:110px;}
.form_action a{border-radius: 3px; width:80px; height:30px; line-height:30px; background:#f90; display: inline-block; color:#fff; text-align:center; font-size:16px; letter-spacing:4px; margin-right:10px;}
.form_action a:hover{ background:#188EEE;}
.form_des{color: #999;font-size:12px;margin-left:5px;}
p.form_des{	margin:0;}
.code_pic{display:inline-block;*display:inline;*zoom:1;}
.code_pic img{height:28px;vertical-align:middle;margin:0 5px;}
.form_error, .form_success{border: 2px solid #DDDDDD;margin-bottom: 9px;padding:8px;font-size:12px; border-radius:3px;}
span.form_error, span.form_success,span.form_tips{border-width:1px;display:inline-block;*display:inline;*zoom:1;line-height:26px;vertical-align:middle;padding:0 5px;font-size:12px;margin:0 0 0 5px;}
.form_error{background: none repeat scroll 0 0 #FBE3E4;border-color: #FBC2C4;color: #8A1F11;}
.form_success {background: none repeat scroll 0 0 #E6EFC2;border-color: #C6D880;color: #264409;}
.form_error a, .form_success a{text-decoration:underline;}
.form_error a{color:#dac189; text-decoration:none;}
.form_error a:hover{ color:#f90;}
.form_success a {color: #264409;}
.form_item:before, .form_item:after { content:"";  display:table;}
.form_item:after{clear:both;overflow:hidden;}
.form_item{ zoom:1;}

.form_questions { margin:0 0 20px 50px;}
.form_tarea { width:460px; !important; margin:5px; }
.field_te { width:30px !important; margin-top:3px;}
.ma{ margin-left:100px;}
.for_but { margin-left:130px;}
.form_ra_text { height:30px; line-height:30px; margin-right:10px;cursor:pointer;}

/*-----------------知识点维护----------------------*/
.form_knowledge { margin:0 0 20px 30px;}
.form_knowledge_edit { margin:0 0 0 10px;font-size:18px; width:350px;position:relative;}
/*------------------form表单样式END----------------*/
/*---------------头顶-------------*/
.main{ background:#fff url(../images/new_bg.jpg) no-repeat center top; }
.hea_top { width:1000px; height:600px;margin:0 auto;position: relative;}
.hea_top .logo{ position:absolute; left:0px; top:30px;}
.hea_top .gun_img { position:absolute; left:10px; top:260px;}
.hea_nav .a_a{ width:88px; height:97px; line-height:97px; display:block;position:absolute; left:466px; top:20px; background:url(../images/a_a.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}
.hea_nav .a_b{ width:85px; height:79px; line-height:79px; display:block;position:absolute; left:596px; top:60px; background:url(../images/a_b.png) no-repeat left top; font-size:24px; color:#008751; text-align:center;}
.hea_nav .a_c{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:710px; top:38px; background:url(../images/a_c.png) no-repeat left top; font-size:24px; color:#1682e6; text-align:center;}
.hea_nav .a_d{ width:85px; height:78px; line-height:78px; display:block;position:absolute; left:850px; top:50px; background:url(../images/a_d.png) no-repeat left top; font-size:24px; color:#fff; text-align:center;}

.hea_nav .a_a:hover{ background:url(../images/a_hover.png);}
.hea_nav .a_b:hover{ background:url(../images/b_hover.png); color:#fff;}
.hea_nav .a_c:hover{ background:url(../images/c_hover.png);color:#fff;}
.hea_nav .a_d:hover{ background:url(../images/d_hover.png);color:#fff;}

.hea_new { position:absolute; right:0; top:0;}
.hea_new span{padding:0 10px;}
.hea_new a{ padding:0 10px; color: #1682e6;font-weight: bold;}
.hea_new a:hover{ text-decoration: underline;}

.con_login{position: absolute;left: 750px;top: 390px; }
.con_login .con_user{height:30px; line-height:30px; border:3px #7abf04 solid; margin-bottom:15px; border-radius:10px; width:200px; text-indent:10px;}
.con_login .con_user_but { padding:5px 15px; background:#096; color:#fff; margin:10px 10px 0 0; border-radius:6px;}
.con_login .con_user_but:hover{ background:#09f;}
.con_login .con_not_psd {color: #09f;}
.con_login .con_not_psd:hover{text-decoration: underline;}

.user_info_hidd { margin:25px 0 0 10px;}
.user_info_hidd p{float:left; height:30px; line-height:30px; margin:10px 10px 0 5px;padding:0 10px;}
.user_info_hidd .user_info_sid *{vertical-align:middle; margin-left:10px;}
.user_info_hidd .user_info_sid span{ margin-left:5px;}
.user_info_hidd a{ color: #09F; margin-left: 20px;}
.user_info_hidd a:hover{ text-decoration: underline;}
/*--------------------里面抬头部分-------------------------------*/
.menu {background:#fff url(../images/top_bg.png) no-repeat center top;}
.menu_top { width:1000px; height:230px;margin:0 auto;position: relative;}
.menu_top .logo{ position:absolute; left:0px; top:30px;}
/*--------------中间-------------*/
.content { width:1000px; margin:0 auto;}
.con_column { width:1000px; height:60px; margin:20px 0;}
.con_column h2{ float:left;font-size:30px; color:#09F; line-height:60px;}
.con_column ul{ float:right;}
.con_column ul li { float:left;}
.con_column ul li a{ float:right; display:block;width:100px; height:60px; background:url(../images/list_bg.png) left top; text-align:center; line-height:60px; font-size:20px; text-indent:5px;color:#09F;}
.con_column ul li a:hover{ background:url(../images/list_bg_hover.png); color:#ab44da;}

.con_col_list{ margin-top:20px; text-align:center;}
.con_col_list ul{ float:left;}
.con_col_list ul li{ float:left; display:block; width:220px; height:200px; margin:0 32px 25px 0; background:#ebebeb;  position:relative; border:1px #f1f1f1 solid;}
.con_col_list h2{ width:220px; font-size:18px; color:#000; margin-top:5px;}
.con_col_list p{ height:30px; line-height:22px;}
.con_col_list .con_listen { position:absolute; left:5px; bottom:0px;}
.con_col_list .con_listen b{ color:#f00;}
.con_col_list .con_but { width:70px; height:28px; display:block;position:absolute; right:5px; bottom:5px; background:url(../images/bottom_school.png) no-repeat right bottom; cursor:pointer;}
.con_col_list ul li:hover{ /*box-shadow:0px 0px 8px #09F;*/ border:1px #09F solid;}
/*--------------------时间轴-----------------*/
.time_shaft{ width:800px; margin:20px auto;}
.time_main{ background:url(../images/time_img_a.jpg) repeat-y 10px top; display:block;padding-top:10px; }
.time_title{ width:100px; display:block; float:left; font-size:18px; text-align:center;}
.time_list{ width:600px; display:block; float:left; margin:5px 10px 0 50px;}
.time_list li { width:500px; display:block; margin:0 0 10px 0;}
.time_list li p{  margin-right:20px; display:inline-block;}
.time_list li p span *{ vertical-align:middle; margin-right:5px;}
.time_menu { height:30px;line-height:30px;}
.time_menu h2{ float:left; width:100px; text-align:center; font-size:22px; color:#f90;}
.time_menu p{ float:left; width:500px; margin-left:50px; font-size:16px; color:#09f;}
/*--------------------挑战-----------------*/
.question_bg {width:1000px; height:670px;background: url(../images/word_bg.png) no-repeat left top; margin:0 auto;}
.que_but_list{ position:relative; margin-top:20px;}
.que_but_a{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:190px; top:120px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;} 
.que_but_b{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:465px; top:120px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
.que_but_c{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:726px; top:120px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}
/*.que_but_d{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:300px; top:290px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063;}*/
.que_but_d{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:300px; top:290px; background:url(../images/work_but_disable.png) no-repeat left top; text-align:center;color:#063;}
/*.que_but_e{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:630px; top:290px; background:url(../images/work_but.png) no-repeat left top; text-align:center;color:#063; }*/
.que_but_e{ width:110px; height:138px; padding:90px 20px 0 20px; position:absolute; left:630px; top:290px; background:url(../images/work_but_disable.png) no-repeat left top; text-align:center;color:#063; }
.que_but_a:hover,.que_but_b:hover, .que_but_c:hover{background:url(../images/work_but_hover.png) no-repeat left top; text-align:center;color:#000;padding:88px 20px 0 18px;}
.que_but_d, .que_but_e {cursor:default;}
.que_but_page { position: relative; }
.que_but_page a { position:absolute;bottom:20px; right:20px;background:url(../images/page.png) no-repeat left top; z-index:999; width:76px; height:93px; display:block; line-height:120px; text-align:center; font-size:16px; color:#fff; font-weight:700;}
.que_but_page a:hover{ color:#000;background:url(../images/page_hover.png) no-repeat left top;}


.questions_list{ width:1000px; margin:0 auto;
 /* background:url(../images/math-tb2.jpg) no-repeat left top,url(../images/math-tb.jpg) no-repeat left bottom,url(../images/math-repeat-bg.jpg) repeat-y left center;  */padding:15px 0 40px 0;}
.filter_breadcrumb { width:960px; margin:0 auto; padding:10px 0;}
.filter_content {display:inline-block; margin:3px 0;}
.filter_title{ float:left; padding:0 5px;height:30px; line-height:30px; text-align:left; font-size:18px; color:#A6703D;}
.filter_ul { width:960px;}
.filter_ul li{float:left;}
.filter_ul li a{ height:24px; line-height:24px; float:left; display:block; text-align:center; padding:0 5px; margin:3px 10px; color:#333;}
.filter_ul li a:hover { background:#D0A66D; color:#fff;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;}
.filter_ul li.current a { background:#D0A66D; color:#fff;-moz-border-radius: 3px;-webkit-border-radius: 3px; border-radius:3px;}

/*--------------------试题列表2-----------------*/
.con_quest { width:1000px; height:922px; margin:0 auto; background:url(../images/02.png) no-repeat left top; position:relative; padding-top:30px;}
.con_que { width:960px; height:120px; margin:20px 0px 0px 20px; background:url(../images/xin_img.png) no-repeat left 0px;}
.con_que h2.yuwen{float:left; display:block; background: url(../images/yuwen.png) no-repeat left top; width:200px; line-height:120px;}
.con_que h2.shuxue{float:left; display:block; background: url(../images/shuxue.png) no-repeat left top; width:200px; line-height:120px;}
.con_que h2.yingyu{float:left; display:block; background: url(../images/yingyu.png) no-repeat left top; width:200px; line-height:120px;}
.con_que p{ float:left; display:block; font-size:30px; color:#FF0; line-height:120px;margin-left: 20px;}
.con_que p.nothing{ margin-left: 350px;color:#FF0;}
.con_pue_sid { text-align:center; vertical-align:middle; margin:30px 0; height: 250px;}
.que_but { margin:50px 0 0 100px;}
.que_but p{ float:left; display:block; margin:0 20px;}
.answer { width:800px; float:left; margin:20px 0 0 115px; display: none;}
.answer h2{ font-size:40px; color:#f00;}
.answer p{ margin-top:20px; font-size:22px; color:#090;}
.button_submit { position: absolute;right: 40px; bottom: 200px;display: block;}
.button_next { position: absolute;right: 40px; bottom: 100px;display: none;}
.tian_text { width:350px; height:40px; line-height:40px; border:none; border-bottom:1px #000 solid; font-size:16px; margin-top:10px; text-align:center;}
.que_but label{ font-size: 22px; margin-top:40px;}

.live_resul {width:960px; margin:0 auto;}
.result_sorting { border-bottom:1px #D0A66D solid; background:#fff3e3; height:30px;}
.result_sorting a.current,.result_sorting a.sortAsc,.result_sorting a.sortDesc {background:#A6703D; color:#fff;}
.result_sorting a{ padding:0 10px;height:30px; line-height:30px; margin-left:10px; border:1px #D0A66D solid; background:#fff; color:#666;}
.result_sorting a:hover { background:#A6703D; color:#fff; border:1px #D0A66D solid;}
.result_list { width:960px; float:left;}
.result_list ul{ width:960px;float:left;}
.result_list ul li{width:960px;float:left; display:block; padding:20px 0; border-bottom:1px #D0A66D dashed; margin-bottom:10px;}
.result_img { float:left; display:block; margin:0px 15px;}
.result_con { float:left; display:block; width:260px; margin-right:30px;overflow:hidden}
.result_price { float:left; display:block; width:140px; margin-left:20px;overflow:hidden}
.result_con .result_con_ti, .result_price .result_con_ti {color:#333; font-size:18px;}
.result_con .pt1, .result_price .pt1{ color:#f00; height:24px; line-height:24px;}
.result_con .pt2, .result_price .pt2{color:#666; height:24px; line-height:24px;}
.result_con .pt3, .result_price .pt3{color:#999; height:24px; line-height:24px;}
.result_con .yuan,.result_price .yuan{ color:#F00; font-size:18px; }
.result_con .yuan span,.result_price .yuan span { color:#666; font-size:14px;padding-left:5px;}

/*--------------------微课详细页面-----------------*/
.pinglun{ }
.location{ margin-left:20px; margin-bottom:4px; margin-top: 15px;color:#442100;}
.location a{ padding:2px 4px; font-size:16px; color:#442100;}
.location a:hover { color:#f90;}
.ping_title{height:60px;line-height:60px; text-align:center;  font-size:35px; background:url(../images/title_bg.png) no-repeat 15px center; color:#442100; letter-spacing:2px; display:block;}
.ping_left{ float:left; width:700px; display:block; height:450px; background: url(../images/live_bg.png) no-repeat left top; margin:0px 0 10px 20px;}

.ping_left .ping_item{ margin:40px 0 0 20px; display:none;}
.ping_left .ping_item a{ color:#fff; text-align:center;width:209px; height:37px;line-height:37px; display:block; font-size:16px; float:left; margin-right:15px; text-indent:10px;}
.ping_left .school_a {background:url(../images/school_hover.png) no-repeat left top;}
.ping_left .vod_a {background:url(../images/vod_hover.png) no-repeat left top;}
.ping_left .ke_a {background:url(../images/ke_hover.png) no-repeat left top;}
.ping_left .school_a:hover {background:url(../images/school_a.png) no-repeat left top;}
.ping_left .vod_a:hover {background:url(../images/vod_a.png) no-repeat left top;}
.ping_left .ke_a:hover {background:url(../images/ke_a.png) no-repeat left top;}

.ping_left .ping_li{ width:640px; height:360px; float:left; display:block; background:#000; margin:50px 0 0 32px;}
.ping_right{ float:right; display: block; width:230px; height:auto; background:url(../images/right_bg.png) no-repeat left top; margin:0 26px 20px 0px;}
.right_sid {height:300px;}
.right_sid h2{ width:230px; height:34px; line-height:34px;font-size:26px; color:#222;text-align:center;margin:35px 0 0 0;}
.right_sid p { height:36px; line-height:36px;}
.right_sid p a{ margin:0px 0 0 60px; color:#222; font-size:16px;}
.right_sid p a:hover{text-decoration: underline;}
.right_but a{ background:url(../images/yun.png) no-repeat left top; width:230px; height:102px; display:block;text-align:center; line-height:102px; color:#fff; font-size:40px;}
.right_but a:hover{ color:#000;}

.ping_footer{ width:1000px;height:100%;}
.ping_foot_left { float:left;display:block; width:700px; height:100%; background:#e7cfaa; margin:0 0 0 20px; padding:10px 0;}
.ping_fo_ti{width:200px; height:40px; text-align:center; font-size:26px; letter-spacing:2px; color:#000;background:url(../images/ti_bg.png ) no-repeat 30px top; }

.ping_say {float:left;padding-left: 30px;font-size: 16px;margin-top: 20px;}
.ping_say strong{background: url(../images/user_comment.png) no-repeat 0;padding-left: 20px;}
.ping_mr { float:right;margin-right: 40px;color: #c2c0c0;margin-top: 15px;}
.ping_mr span{margin-right:10px;}
.ping_comment_title .pt3{color:#999; height:24px; line-height:24px;}
.ping_comment_title .pt4 { font-weight:700; color:#c2c0c0; margin-top:5px}
.ping_comment_title .pt5 { font-size:20px; color:#f90;margin-top:-5px}
.ping_comment_title .pt6 {margin-top:5px}

.ping_foo_con{ width:680px; height:100%; background:#fff; margin:0 0 0 10px;}
.ping_fo_c{ padding:10px 0 10px 20px; margin:0 0 5px 0; border-bottom:1px #ccc dashed; position:relative;}
.ping_fo_c img{ float:left; display:block;padding: 2px;border: 1px #FFCC99 solid;background: #fff; border-radius:50px;}
.ping_fo_c p{ float:left; margin-left:15px; width:500px;}
.ping_fo_c .nothing{text-align: center;margin-left:70px;}
.pi_time { position:absolute; right:50px; bottom:10px;}
.ping_form { width:660px; padding:30px 10px 50px 10px; background:#fff; margin-left:10px;margin-top: 10px;}
.ping_form a{ padding:5px 10px;display:block; width:40px; height:20px; text-align:center; background:#F90; margin:10px 0 0 10px; color:#fff;}
.ping_tarea { width:624px; height:80px; margin-left:10px;padding: 2px 8px;}

.ping_form a{ padding:0 10px; margin-left:10px;}

.ping_form .ping_submit {width:80px;height: 30px;line-height: 30px;	position: relative;	float:right;margin:10px 8px 0 0;background: #f90; border-radius:3px;text-align:center;color:#fff;font-size:18px;border:0;}
.ping_form .ping_submit:hover{ background:#09f;cursor: pointer;}

.ping_foot_right{ float:right; width:230px;margin:0 26px 20px 0px;}
.ping_f_bot { width:230px; margin:5px 0 15px 0;}
.ping_f_bot a{float: left; padding:5px 20px; background:#f90; color:#fff; margin-right: 15px; letter-spacing:3px;font-weight: bold;font-size: 16px;border-radius: 3px;}
.ping_f_bot a:hover{ background:#188EEE;}
.ping_f_bot .hasBuy,.ping_f_bot .hasBuy:hover{padding:5px 20px; background:#c2c0c0; color:#fff;}
.ping_fot_tm {float: left;margin-top: 10px;}
.ping_fot_tm li{ margin-bottom:10px; border:1px #ccc solid;}
.ping_fot_tm .pi_text { height:30px; line-height:30px; text-indent:10px;}
.ping_fot_tm li:hover{ border:1px #f90 solid; cursor:pointer;}

/*--------------------个人中心-----------------*/

.qu_left { width:200px; float:left; margin-right:30px;}
.qu_user_pho{ width:200px; height:160px; text-align:center; vertical-align:middle;display: table-cell;;}
.qu_item{ background:#dac189; padding:10px 0;}
.qu_item ul li {width:200px; overflow:hidden;}
.qu_item ul li a{ width:200px; display:block; padding:5px 0; height:35px; line-height:35px; color:#000; text-align:center;}
.qu_item ul li a:hover{ background:#8f6239; color:#fff;}
.qu_item .center { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .history { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .competition { background:url(../images/ico2.png) no-repeat 45px center;}
.qu_item .collection { background:url(../images/ico3.png) no-repeat 45px center;}
.qu_item .comment { background:url(../images/ico4.png) no-repeat 45px center;}
.qu_item .story { background:url(../images/ico5.png) no-repeat 45px center;}
.qu_item .friend { background:url(../images/ico6.png) no-repeat 45px center;}
.qu_item .stat { background:url(../images/ico7.png) no-repeat 45px center;}
.qu_item .personalInfo { background:url(../images/ico8.png) no-repeat 45px center;}
.qu_item .changePwd { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .reactive { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .live { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .course { background:url(../images/ico1.png) no-repeat 45px center;}
.qu_item .weike { background:url(../images/ico1.png) no-repeat 45px center;}
.qu_item .file { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .question_list { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .question_approve { background:url(../images/icon1.png) no-repeat 45px center;}
.qu_item .knowledge_tree { background:url(../images/icon1.png) no-repeat 45px center;}

.qu_item .center:hover,.qu_item .center_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .history:hover,.qu_item .history_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .competition:hover,.qu_item .competition_hover { background:#8f6239 url(../images/ico2.png) no-repeat 45px center;color:#fff;}
.qu_item .collection:hover,.qu_item .collection_hover { background:#8f6239 url(../images/ico3.png) no-repeat 45px center;color:#fff;}
.qu_item .comment:hover,.qu_item .comment_hover { background:#8f6239 url(../images/ico4.png) no-repeat 45px center;color:#fff;}
.qu_item .story:hover,.qu_item .story_hover { background:#8f6239 url(../images/ico5.png) no-repeat 45px center;color:#fff;}
.qu_item .friend:hover,.qu_item .friend_hover { background:#8f6239 url(../images/ico6.png) no-repeat 45px center;color:#fff;}
.qu_item .stat:hover,.qu_item .stat_hover { background:#8f6239 url(../images/ico7.png) no-repeat 45px center;color:#fff;}
.qu_item .personalInfo:hover,.qu_item .personalInfo_hover { background:#8f6239 url(../images/ico8.png) no-repeat 45px center;color:#fff;}
.qu_item .changePwd:hover,.qu_item .changePwd_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .reactive:hover,.qu_item .reactive_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .live:hover,.qu_item .live_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .course:hover,.qu_item .course_hover { background:#8f6239 url(../images/ico1.png) no-repeat 45px center;color:#fff;}
.qu_item .weike:hover,.qu_item .weike_hover { background:#8f6239 url(../images/ico1.png) no-repeat 45px center;color:#fff;}
.qu_item .file:hover,.qu_item .file_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .question_list:hover,.qu_item .question_list_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .question_approve:hover,.qu_item .question_approve_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}
.qu_item .knowledge_tree:hover,.qu_item .knowledge_tree_hover { background:#8f6239 url(../images/icon1_hover.png) no-repeat 45px center;color:#fff;}

.qu_right { width:760px; float:left;}
.qu_right .qu_right_it {margin-top:10px; margin-bottom:30px; height:120px;}
.qu_right .qu_right_it h2 { font-size:18px; color:#222; }
.qu_right .qu_right_it p { height:24px; line-height:24px;}
.qu_right .qu_right_it p a{ padding:0 3px; margin-right:10px; color: #1682e6;}
.qu_right .qu_right_it p a:hover{text-decoration: underline;}
.qu_right .qu_tarea { margin-bottom:10px; display:block;}
.qu_right .qu_tarea p{ float:right;}
.qu_right .qu_tarea p span{ margin-right:10px;}
.qu_right .qu_tarea p a{ padding:2px 10px; background:#f90; color:#fff;}
.qu_right .qu_tarea p a:hover{background:#af6900;}

.qu_right .qu_tar { width:748px; height:80px; margin-bottom:5px;border:1px #666 solid; color:#666;padding: 5px;}
.qu_right .qu_right_it .qu_but { float:right;}
.qu_right .qu_right_it .qu_but a { background:url(../images/jihuo.png) no-repeat left top; width:140px; height:42px; line-height:42px; display:block; text-align:center; font-size:26px; letter-spacing:2px; color:#fff;}
.qu_right .qu_right_it .qu_but a:hover { background:url(../images/jihuo_hover.png) no-repeat left top;text-decoration: none;}

.qu_info{ height:100%; margin:10px 0; border:1px #CCC solid; background:#f1f1f1; padding:5px 0; font-weight: bold; color:#333;}
.qu_no_info { padding:10px 0;border:1px #f90 solid; background:#ffd391; color:#333; text-align: center;}
.qu_no_info a{ padding:0 10px; color: #1682e6;}
.qu_no_info a:hover{text-decoration: underline;}

/*--------------------我看过的-----------------*/
.sh_ke{ margin:0 0px 10px 0; overflow:hidden;}
.sh_ke h2{ float:left;font-size:18px; height:40px; line-height:40px; text-indent:10px;color:#666;}
.catalog_box_more{ float:right; margin-right:10px; line-height:40px; color:#666;}
.catalog_box_more:hover { color:#188EEE;}
.sh_ke .sh_sch_ke h2{ width:220px; height:26px; line-height:26px; font-size:16px; color:#333; overflow:hidden; text-align:left;}
.sh_ke .sh_sch_ke li {width:220px;float:left; display:block; margin:0 25px 20px 0; border:2px #fff solid; padding-bottom:8px; background:#f1f1f1; position:relative; }
.sh_ke .sh_sch_ke li:hover{ border:#af6900 2px solid;}

.sh_ke .sh_sch_ke b { color:#f90; font-size:16px; margin:0 5px; font-weight:normal;}
.sch_unm { color:#dac189;font-size:14px; margin-right:10px; font-weight:normal;}
.sch_unm a{color:#188eee;}
.sch_unm a:hover{color:#188eee;text-decoration: underline;}
.sh_ke .sh_sch_ke {border-top:1px solid #ccc; padding:20px 0 0 10px; display: inline-block;width: 760px;}
.sh_ke .sh_sch_ke p{ text-align:left; margin-top:3px; text-indent:5px; line-height:150%;}
.sh_sch_but { position:absolute; right:5px; bottom:5px;}
.sh_sch_but .col_sh{ padding:2px 10px; background:#f90; color:#fff;border: 0px;cursor:pointer;}
.sh_sch_but .col_sh:hover{padding:2px 10px; background:#188eee; color:#fff;}
.sh_sch_but .col_st{ padding:2px 10px; background:#ccc; color:#fff;}

/*--------------------朋友圈-----------------*/
.sh_ke .sh_sch_ky {/* border-top:1px solid #ccc; */ padding:20px 0 0 10px; display: inline-block; width: 760px;}
.sh_ke .sh_sch_ky h2{ width:160px; height:26px; line-height:26px; font-size:16px; color:#333; overflow:hidden;}
.sh_ke .sh_sch_ky li {width:160px;float:left; display:block; margin:0 23px 20px 0; border:2px #fff solid; padding-bottom:8px; background:#f1f1f1; position:relative; }
/*.sh_ke .sh_sch_ky li:hover{ border:#af6900 2px solid;}*/
.sh_ke .sh_sch_ky p{margin-top:3px; text-indent:5px; line-height:150%;text-align:center;}
.sh_ke .sh_sch_ky p a{ padding:2px 10px; background:#ccc; color:#666;}
.sh_ke .sh_sch_ky p a:hover{ background:#bca871; color:#fff;}

.freind_tarea { width:500px; height:80px; padding: 2px 8px;}
/*--------------------课程详简-----------------*/
.school_but {}
.school_sid { width:1000px; margin:0 auto; height:130px; padding:10px 0;}
.school_sid a{ width:266px; height:124px; display:block; float:left; margin-right:40px;}
.school_sid  .sid_a{ background:url(../images/07.png) no-repeat left top;}
.school_sid  .sid_b{ background:url(../images/08.png) no-repeat left top;}
.school_sid  .sid_c{ background:url(../images/09.png) no-repeat left top;}
.school_sid  .sid_a:hover,.sid_a_hover{ background:url(../images/07_hover.png) no-repeat left top;}
.school_sid  .sid_b:hover,.sid_b_hover{ background:url(../images/08_hover.png) no-repeat left top;}
.school_sid  .sid_c:hover,.sid_c_hover{ background:url(../images/09_hover.png) no-repeat left top;}
.school_con { background:url(../images/10.png) no-repeat left top, url(../images/12.png) repeat-y 0px top; padding:0 0 25px 40px;cursor:pointer;}
.school_con ul{display: none;}
.school_con ul.current{display: block;}
.school_con_last{background:url(../images/10.png) no-repeat left top;cursor:pointer;}
.school_con_hover{background:url(../images/11.png) no-repeat left top, url(../images/12.png) repeat-y 0px top;cursor:pointer;}
.school_con li{ float:left; display:block;margin:0 20px 20px 0; height:150px; position:relative; border:1px #ccc solid; padding:3px;}
.school_con h2{ font-size:18px; color:#333;}
.school_con .guomai { position:absolute; bottom:5px; right:5px; padding:2px 10px; background:#ccc; color:#fff;}
.school_con .notguomai { position:absolute; bottom:5px; right:5px; padding:2px 15px; background:#f90; color:#fff;}
.school_con .notguomai:hover{ background:#f30;}
.sc_co_title { font-size:16px; color:#333; width:200px; overflow:hidden;white-space:nowrap;}

/*--------------------个人信息-----------------*/

.st_titile_r { float:left; display:block; width:760px; height:40px; line-height:40px; position:relative; margin-bottom:10px;border-bottom:1px #dbdbdb solid; }
.st_titile_r a{font-weight: bold; float:left; display:block; font-size:16px;color:#666; margin-right:20px; padding:0 10px; }
.st_titile_r a:hover{ color:#188EEE;}
.st_titile_r .sh_title_hover{ color:#188EEE; background:url(../images/user_hover.png) no-repeat left bottom;}
.sh_title { font-size:16px; width:760px; margin-bottom:20px; position:relative;border-bottom:1px #dbdbdb solid; }
.sh_title span{ font-size:13px; position:absolute; left:100px; top:5px; color:#999;}
.sh_title h2{margin-left:10px;font-size: 18px;}

.sh_form_con { margin-left:80px; padding-bottom:10px;}

/*--------------我的评价----试题列表------------------*/
.sh_collection { width:100%;}
.sh_collection ul li{ float:left;width:99%; padding:5px 0; margin:10px 0; border-bottom:1px #dbdbdb dashed;}
.sh_collection img { float:left; padding:5px;}
.sh_coll_con { float:left;display:block; width:400px; margin:10px;}
.sh_coll_con h2 a{ color:#D0A66D;  font-size:18px; overflow:hidden;}
.sh_coll_con h2 a:hvoer {color:#F90;}
.sh_coll_con span{ color:#000; margin-right:5px;}
.sh_coll_m{ float:left; display:block; width:160px; margin-top:10px; text-align:center; color:#f00;}
.sh_coll_m a{color: #D0A66D}
.sh_coll_m a:hover{color: #f90}
.sh_coll_but { float:right; margin:10px 0px 0 0;}
.sh_coll_but a{ padding:3px 10px; background:#D0A66D; color:#fff;}
.pt15 { margin-top:0px;width:300px;}
.sh_col_form { width:960px; height:30px; margin-top:15px;}
.form_height {margin:15px 0;}
.form_height a {padding:0px 10px; height:26px;border-radius: 2px; line-height:26px; background:#D0A66D; display: inline-block; color:#fff; text-align:center; font-size:14px; letter-spacing:2px; margin-right:10px;}
.form_height a:hover { background:#A6703D;}

.sh_coll_but input{ padding:3px 10px; background:#D0A66D; color:#fff;border:0;}
.sh_coll_but input:hover{ background:#A6703D;cursor:pointer;}

.sh_coll_img{ float:left; display:block; width:60px; margin:10px 0 0 40px;}
.sh_coll_th{ width:80px;float:left; margin:10px 0 0 10px;}
.sh_coll_tab { margin-top:10px; margin-bottom:10px;text-align:center; border:#ccc 1px solid;}
.sh_coll_tab th{ height:40px;text-align:center; font-size:16px; background:#dbdbdb; color:#A6703D;border:#ccc 1px solid;}
.sh_coll_tab tr td{ line-height:30px; overflow:hidden; border:#ccc 1px solid;}
.sh_coll_tab tr td a{ margin-right:2px; padding:2px 10px; background:#D0A66D; color:#fff;}
.sh_coll_tab tbody tr:hover { background:#f0f0f0;}
.sh_coll_tab tfoot { height:30px; text-align:right;}
.sh_add { position:absolute; right:0px; top:5px; font-size:14px; color:#D0A66D;background: none;}
.sh_add:hover{ color:#f90;background: none;}
.sh_prev { position:absolute; right:80px; top:5px; font-size:14px; color:#D0A66D;}
.sh_prev:hover{ color:#f90;}
.sh_coll_tab .sh_release a, .sh_coll_tab .sh_h_im a{ background:none; color:#666; }
.sh_coll_tab .sh_release a:hover, .sh_coll_tab .sh_h_im a:hover{background:none; color:#f90;}
.sh_coll_tab .sh_h_im { text-align:left;}
.sh_coll_tab .sh_h_im div{ float:left;}
.sh_coll_tab .sh_h_im a{overflow:hidden; padding:0; margin:0;color:#D0A66D;}
.sh_coll_tab .sh_h_im .sh_order_title {width:315px;margin-top: 10px;}
.sh_coll_tab .sh_h_im .sh_order_title a{width:315px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap; font-weight: bold;font-size: 16px;}
.sh_coll_tab .sh_h_im .sh_order_detail{color:#9c9c9c;font-size: 12px;margin-top: 10px;}
.sh_color_c { color:#f90 !important;}
.sh_coll_tab .btn_question_status {margin-left: 15%;}
.sh_coll_tab .btn_question_update {margin-left: 10%;}
.sh_coll_tab .btn_question_edit {margin-left: 10%;}
.sh_coll_tab .status {position: relative;left: 15%;}
.sh_coll_tab .btn_input {margin-left: 15%;}
.sh_coll_tab .btn_question_operation a{ margin-left: 15%;height:23px;line-height:23px; padding:0px 10px; background:#D0A66D; color:#fff; border:0;float: left;}
.sh_coll_tab .btn_question_operation a:hover{ background:#A6703D;cursor:pointer;}
.sh_coll_tab .btn_question_operation input{ margin-right:10px; padding:0px 7px; background:#D0A66D; color:#fff; border:0;float: left;}
.sh_coll_tab .btn_question_operation input:hover{ background:#A6703D;cursor:pointer;}
.sh_coll_tab .btn_order_operation a{ margin-left: 15%;height:23px;line-height:23px; padding:0px 10px; border:0;float: left;background:none; color:#D0A66D;}
.sh_coll_tab .btn_order_operation a:hover{ color:#f90;}
/*---------------------弹出框------------------------*/
.boxy-wrapper .title-bar {background:#c79f63; height:26px; margin-bottom:15px;}
.boxy-wrapper .title-bar h2{ float:left; color:#fff; font-size:16px; line-height:26px;  font-weight:700;}
.boxy-wrapper .title-bar .close{ background:#c79f63; color:#fff;font-size:16px;}
.boxy-wrapper .title-bar .close:hover{ background:#c79f63;color:#A6703D;cursor:pointer;}

.pr_sid { width:100%; height:70px; padding:20px 0;}
.pr_sid a{ float:left; margin-right:20px;}
.pr_sid  .sid_d{ background:url(../images/07_a.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_e{ background:url(../images/08_a.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_f{ background:url(../images/09_a.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_d:hover{ background:url(../images/07_a_hover.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_e:hover{ background:url(../images/08_a_hover.png) no-repeat left top; width:130px; height:61px; display:block;}
.pr_sid  .sid_f:hover{ background:url(../images/09_a_hover.png) no-repeat left top; width:130px; height:61px; display:block;}

/*--------------------封面图片-------------------------*/
.portrait_con {width: 500px;float: left;margin-top: -15px;}
.portrait_con .show_img{float: left;margin-bottom:10px;}
.portrait_con .file_info{float: right;width: 300px;}
/* .portrait_con .file_info input{border:1px solid #868686;margin-bottom: 5px;width: 98%;} */
.portrait_con .file_info .file_box{ position:relative;width:300px} 
.portrait_con .file_info .file_box .file_txt{ height:22px; border:1px solid #cdcdcd; width:220px;} 
.portrait_con .file_info .file_box .file_btn{border:1px solid #CDCDCD;height:24px; width:70px;} 
.portrait_con .file_info .file_box .file_file{ position:absolute; top:0; right:0px; height:24px; filter:alpha(opacity:0);opacity: 0;width:300px } 

.portrait_con p{ margin-bottom:5px;}
.portrait_con p img { border:1px #D0A66D solid; width: 180px;height: 180px;}
.portrait_con .fileSize{margin-top: 5px;font-size: 12px;color: #868686;}
.portrait_con .file_tips{font-size: 12px;color: #868686;}
.portrait_con .upload_icon {margin-top: 10px;}
.portrait_con .right{background: url(../images/upload_icon.png) no-repeat 0px 5px;padding: 10px 35px; display: none;color:#00a251;}
.portrait_con .wrong{background: url(../images/upload_icon.png) no-repeat 0px -32px;padding: 10px 35px; display: none;color:#ff0000;}
.soll_footer {height: 30px;padding: 5px 0;position: absolute;bottom:10px;right:20px;}
.soll_footer a{ float:right; margin-left:10px; padding:0px 15px; height:30px; line-height:30px; background:#f90; color:#fff;border-radius: 3px;}
.soll_footer a:hover{ background:#188EEE;}

/*---------------知识点绑定-弹窗列表显示----------------------*/
.tinybox { background:#FFF;text-align:center;width:500px;height: 320px;}
.join_con { position: relative;top:-20px;}
.join_left{ width:200px; height:260px;float:left;}
.join_right{ width:200px; height:260px;float:right; }

.join_list { width:200px;height:260px; background:#dbdbdb; float:left;padding:4px 3px; }
.join_list a{ height:36px; line-height:36px; display:block; background:#dbdbdb; color:#222; text-indent:10px;}
.join_list a:hover{ background:#009871; color:#fff;}

.join_tit { width:500px; height:30px; line-height:30px;text-align: left;}
.join_tit p{width:200px; float:left; display:inline;height:30px; font-size:16px; color:#222;  overflow:hidden;}
.join_tit .maigin_right {margin-left: 98px;}
.join_right_all { width:25px; height:40px; position:absolute; left:240px; top:40px; z-index:999; background:url(../images/all_right.png) no-repeat left top;display: none;}
/* .join_right_but { width:25px; height:40px; position:absolute; left:240px; top:85px; z-index:999; background:url(../images/right_img.png) no-repeat left top;} */
.join_right_but { width:25px; height:40px; position:absolute; left:240px; top:85px; z-index:999; background:url(../images/right_img.png) no-repeat left top;}
.join_left_but { width:25px; height:40px; position:absolute; left:240px; top:175px; z-index:999; background:url(../images/left_img.png) no-repeat left top;}
/* .join_left_but { width:25px; height:40px; position:absolute; left:240px; top:130px; z-index:999; background:url(../images/left_img.png) no-repeat left top;} */
.join_left_all { width:25px; height:40px; position:absolute; left:240px; top:175px; z-index:999; background:url(../images/all_left.png) no-repeat left top;display: none;}
.join_up_but { width:25px; height:40px; position:absolute; left:240px; top:215px; z-index:999; background:url(../images/up_img.png) no-repeat left top;display: none;}
.join_down_but { width:25px; height:40px; position:absolute; left:240px; top:250px; z-index:999; background:url(../images/down_img.png) no-repeat left top;display: none;}

.join_left_all:hover {background:url(../images/all_left_hover.png) no-repeat left top;}
.join_left_but:hover {background:url(../images/left_img_hover.png) no-repeat left top;}
.join_right_but:hover {background:url(../images/right_img_hover.png) no-repeat left top;}
.join_right_all:hover {background:url(../images/all_right_hover.png) no-repeat left top;}
.join_up_but:hover {background:url(../images/up_img_hover.png) no-repeat left top;}
.join_down_but:hover {background:url(../images/down_img_hover.png) no-repeat left top;}
.join_list option {padding:5px 0;display:block; background:#dbdbdb; text-indent:10px;}

.join_but { width: 500px; height:40px; background:#ccc;margin-top:15px; position: absolute;bottom:10px;}
.join_but a{line-height:40px; padding:5px 20px;  background:#f90; margin:0 15px; color:#fff;border-radius: 3px;}
.join_but a:hover{background:#188EEE;}

/*--------没有内容提示---------------*/
.nothing {line-height: 30px;height: 30px;color: #c2c0c0;font-size: 16px;}
/*--------------------页脚-----------------*/
.footer { width:100%; height:218px; background:url(../images/mainbg.png) no-repeat center top; position:relative;}
.footer p{ position:absolute; left:50%;bottom:10px;color:#fff;}
/* --------------------error tips------------------------- */
.system_tip { width:300px; line-height:26px; margin:10px auto; border:solid 1px #F5D8A7; border-radius:2px; background-color:#FFF6DB;padding-left: 10px; text-align: center; }

/*------------------分页----------------*/
.pagination {text-align:center; width:100%; height:30px; line-height:30px; margin: 5px 0;}
.pagination a { width:16px; height:16px; margin-right:2px; padding:2px 10px; background:#D0A66D; color:#fff;}
.pagination a:hover { background:#A6703D; }
.pagination .page_current { background:#A6703D;}
.pagination .page_current:hover { background:#A6703D; }
.pagination .page_go_input,.pagination .page_go_input2{width: 30px;height: 18px;line-height: 18px;color: #f90;font-weight: bold;}
.pagination .page_submit_input,.pagination .page_submit_input2{font-weight: bold;width: 30px;height: 23px;line-height: 16px;text-align:center;}
.pagination .page_height_light{color:#f90;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{  border:none;padding:0; }

/*--------------css-------Boxy.ask Boxy.alert Boxy.confirm----------------*/
.boxy-wrapper .question {width: 280px;color:#333;margin-bottom:15px;line-height:18px;padding-left:40px;text-align: left;}
.boxy-wrapper .question i{width:36px;height:34px;position: absolute;top:30px;left:15px;}
.boxy-wrapper .question i.info{background:url(../images/asyncbox_bg.png) no-repeat -54px 0}
.boxy-wrapper .question i.ask{background:url(../images/asyncbox_bg.png) no-repeat -91px 0}
.boxy-wrapper .question i.right{background:url(../images/asyncbox_bg.png) no-repeat -127px 0}
.boxy-wrapper .question i.warn{background:url(../images/asyncbox_bg.png) no-repeat -163px 0}
.boxy-wrapper .question i.error{background:url(../images/asyncbox_bg.png) no-repeat -199px 0}
.boxy-wrapper .question span{height:34px;width: auto;position:absolute;top:38px;left:60px;padding-right: 15px;}
.boxy-wrapper .answers .boxy-btn3,.boxy-wrapper .answers .boxy-btn2,.boxy-wrapper .answers .boxy-btn1
{-webkit-border-radius: 3px;border-radius: 3px;font-size:16kpx; padding:8px 15px;  background:#dac189; margin:0 5px; color:#fff;border: 0;}
.boxy-wrapper .answers .boxy-btn3:hover,.boxy-wrapper .answers .boxy-btn2:hover,.boxy-wrapper .answers .boxy-btn1:hover{ background:#f90;}
/*----------------------------------------------------------------------*/
